<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DpiAwareness" value="PerMonitorV2"/>
	</System.Windows.Forms.ApplicationConfigurationSection>
	<connectionStrings>
  <add name="SqlConnection" connectionString="Server=localhost\SQLExpress;Database=WashablesLaundry;Integrated Security=True;"
   providerName="Microsoft.Data.SqlClient" />
  <add name="WashablesSystem.Properties.Settings.WashablesLaundryConnectionString"
   connectionString="Data Source=DAPHNE\SQLEXPRESS;Initial Catalog=WashablesLaundry;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>